language: scala

scala:
  - 2.12.8
  - 2.11.12
  - 2.13.0

env:
  - TRAVIS_JDK=adopt@~1.8.0-0
  - TRAVIS_JDK=adopt@~1.11.0-0

matrix:
  fast_finish: true
  allow_failures:
    - env: TRAVIS_JDK=adopt@1.11.0-1 # not fully supported but allows problem discovery

before_install:
  - curl -sL https://github.com/shyiko/jabba/raw/master/install.sh | bash && . ~/.jabba/jabba.sh

install:
  - $JABBA_HOME/bin/jabba install $TRAVIS_JDK
  - export JAVA_HOME="$JABBA_HOME/jdk/$TRAVIS_JDK" && export PATH="$JAVA_HOME/bin:$PATH" && java -Xmx32m -version

script:
   # Binary compatibility check
   - sbt ++$TRAVIS_SCALA_VERSION test mimaReportBinaryIssues
   # Test sample applications
   - sbt ++$TRAVIS_SCALA_VERSION publishLocal "print play-mailer/version" | tee /tmp/out.txt
   - export PLAY_MAILER_VERSION=`tail -1 /tmp/out`
   - pushd samples/compile-timeDI/ && sbt ++$TRAVIS_SCALA_VERSION test && popd
   - pushd samples/runtimeDI/ && sbt ++$TRAVIS_SCALA_VERSION test && popd

cache:
  directories:
    - $HOME/.ivy2
    - $HOME/.jabba/jdk
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
