language: scala

scala:
  - 2.12.10
  - 2.13.1

git:
  depth: false # Avoid sbt-dynver not seeing the tag

env:
  - TRAVIS_JDK=8
  - TRAVIS_JDK=11

before_install: curl -Ls https://git.io/jabba | bash && . ~/.jabba/jabba.sh
install: jabba install "adopt@~1.$TRAVIS_JDK.0-0" && jabba use "$_" && java -Xmx32m -version

script:
   - sbt ++$TRAVIS_SCALA_VERSION test mimaReportBinaryIssues
   # Test sample applications
   - export PLAY_MAILER_VERSION=`sbt publishLocal "print play-mailer/version" | tail -1`
   - pushd samples/compile-timeDI/ && sbt ++$TRAVIS_SCALA_VERSION test && popd
   - pushd samples/runtimeDI/ && sbt ++$TRAVIS_SCALA_VERSION test && popd

cache:
  directories:
    - $HOME/.coursier/cache
    - $HOME/.ivy2
    - $HOME/.jabba/jdk
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
